{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center view-height">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card shadow p-4">
                <h1 class="text-center mb-4">{% trans "Sign In" %}</h1>
                <!-- Login Form -->
                <form class="text-center" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div>
                        <!-- Username/email field -->
                        <div class="mb-2">
                            <label for="id_login" class="form-label">Username or email</label>
                            {{ form.login }}
                            {% if form.login.help_text %}
                                <small class="form-text text-muted">{{ form.login.help_text }}</small>
                            {% endif %}
                        </div>
                        <!-- Password Field -->
                        <div class="mb-2">
                            <label for="id_password" class="form-label">Password</label>
                            {{ form.password }}
                        </div>
                        <!-- Forgot Password Link -->
                        {% if form.password.help_text %}
                            <small id="id_password_helptext" class="form-text text-muted">{{ form.password.help_text }}</small>
                        {% endif %}
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                    {% endif %}
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary w-100 mt-2">{% trans "Sign In" %}</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'account_signup' %}">{% trans "Haven't got an account? Sign up." %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}