{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="container" style="min-height: 80vh;">
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card shadow p-4">
                <!-- Heading -->
                <h1 class="text-center mb-4">{% trans "Password Reset" %}</h1>
                <p class="text-muted text-center">
                    {% blocktrans %}We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
                </p>
                <!-- back to sign in -->
                <div class="text-center mt-3">
                    <a href="{% url 'account_login' %}" class="btn btn-primary w-100">{% trans "Back to Sign In" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}