{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Hey {{ profile.user.username }}, Let's create a budget.</h2>
            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.amount.label_tag }} {{ form.amount }}  
                <br>
                {{ form.month_year.label_tag }} {{ form.month_year }}
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}