{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Hey {{ profile.user.username }}, Let's create a budget.</h2>
            <form class="form" method="POST">
                {% csrf_token %}
                {{ form.amount.label_tag }} {{ form.amount }}  
                <br>
                {{ form.month.label }} {{ form.month }}
                <br>
                {{ form.year.label }} {{ form.year }}
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <div>
                <table>
                    <tr>
                        <th>Budget Month</th>
                        <th>Budget Year</th>
                        <th>Amount</th>
                        <th>Remove</th>
                    </tr>
                    {% for budget in budgets %}
                        <tr>
                            <td>{{ budget.month }}</td>
                            <td>{{ budget.year }}</td>
                            <td>{{ budget.amount }}</td>
                            <td>
                                <form method="POST" action="{% url 'delete_budget' budget.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}