{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Hey {{ profile.user.username }}, Let's create a budget.</h2>
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="mb-4 ms-4">
                    <div class="mb-2">{{ form.amount.label_tag }}{{ form.amount }}</div>
                    <div class="mb-2">{{ form.month.label }} {{ form.month }}</div>
                    <div class="">{{ form.year.label }} {{ form.year }}</div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>    
            </form>
            <div class="mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Month</th>
                            <th scope="col">Year</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for budget in budgets %}
                            <tr>
                                <td>{{ budget.get_month_display }}</td>
                                <td>{{ budget.year }}</td>
                                <td>{{ budget.amount }}</td>
                                <td>
                                    <form method="POST" action="{% url 'delete_budget' budget.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}