{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>Hey, Welcome to your Dashboard!</h1>
    <!-- Guidance models -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#helpModal">Get Started Here</button>
    <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Quick Start Guide</h5>
                    <button type="button" aria-label="Close" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Hey, {{ user.username }}!</p>
                    <p>Welcome to your dashboard! Here you can manage your finances effectively.</p>
                    <p>To get started, you can:</p>
                    <ul>
                        <li>Create a budget to track your spending.</li>    
                        <li>Create Expenses and Incomes to keep track of your financial activities.</li>
                        <li>When you have created a budget, along with some expenses, we can track where your money goes.</li>
                    </ul>
                    <br>
                    <p>Let's get started by creating a budget!<a href="{% url 'budget_create' %}"> Create Budget</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Budget select form -->
<div class="container mt-4">
    
    <form class="text-center" method="POST" action="{% url 'dashboard' %}">
        <p>Here you can see a summary of your budgets, incomes, and expenses.</p>
        {% csrf_token %}
        <p>
            Let's select a budget to get your analytics: 
            <label for="id_budget_select-budget" class="form-label visually-hidden">Select Budget</label>
            {{ budget_select_form.budget }}
        </p>
        <button type="submit" class="btn btn-secondary mb-2">Calculate </button>
    </form>
    <!-- Budget summary -->
    <div class="row text-center">
        <div class="col-md-4">
            <h2>Budgets</h2>
            <p>Total Budgets: £{{ budget_amount }}</p>
        </div>
        <div class="col-md-4">
            <h2>Incomes</h2>
            <p>Total Incomes: £{{ total_incomes }}</p>
        </div>
        <div class="col-md-4">
            <h2>Expenses</h2>
            <p>Total Expenses: £{{ total_expenses }}</p>
        </div>
    </div>
    <!-- Summary chart -->
    <div>
        <canvas id="dashboardChart" ></canvas>
    </div>
</div>    
{% endblock %}
{% block scripts %}
    <script>
        // Displaying invalid syntax, but everything renders without issues
        const categoryLabels = {{ category_names|safe }};
        const categoryData = {{ category_name_data|safe }};
    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}