{% extends "base.html" %}

{% block content %}
<div class="container mt-5 text-center">
    <h1>Hey, Welcome to your Dashboard!</h1>
    <p>Here you can see a summary of your budgets, incomes, and expenses.</p>
</div>
<div class="container mt-4">
    <form class="text-center" method="POST" action="{% url 'dashboard' %}">
        {% csrf_token %}
        {{ budget_select_form.budget }}
        <button type="submit" class="btn btn-secondary">Calculate </button>
    </form>
    <div class="row text-center">
        <div class="col-md-4">
            <h2>Budgets</h2>
            <p>Total Budgets: </p>
        </div>
        <div class="col-md-4">
            <h2>Incomes</h2>
            <p>Total Incomes: {{ total_incomes }}</p>
        </div>
        <div class="col-md-4">
            <h2>Expenses</h2>
            <p>Total Expenses: {{ total_expenses }}</p>
        </div>
    </div>
    <div>
        <canvas id="budget-chart" ></canvas>
    </div>
{% endblock %}