{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <h1 class="col-12 text-center">{{ profile.user.username }}'s Profile</h1>
        <h5 class="col-12 col-lg-6">Email: {{ profile.user.email }} </h5>
        <h5 class="col-12 col-lg-6">User Name: {{ profile.user.username }}</h5>
        <h5 class="col-12 col-lg-6">Password <a href="http://127.0.0.1:8000/accounts/password/change/">Change Password</a></h5>
    </div>
</div>


{% endblock %}