{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Hey {{ profile.user.username }}, You can make profile changes here!</h2>
            <div class="mb-3 custom-card custom-border">
                <strong class="text-muted">Username:</strong>
                <span class="">{{ profile.user.username }}</span>
            </div>
            <div class="mb-3 custom-card custom-border">
                <strong class="text-muted">Email:</strong>
                <span class="ms-2">{{ profile.user.email }}</span>
                <br>
                <a href="{% url 'account_email' %}">Change Email</a>
            </div>
            <div class="mb-3 custom-card custom-border">
                <strong class="text-muted">Password:</strong>
                <a href="{% url 'account_change_password' %}" class="ms-2">Change Password</a>
            </div>
            <h4>{% trans "Account Removal" %}</h4>
            <!-- Bootstrap dropdown -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Delete Account
                </button>
                <ul class= "dropdown-menu text-center">
                    <li class="p-2"><p>Are you sure you want to delete you account ?</p></li>
                    <li><button class="btn btn-danger">Yes</button></li>
                </ul>
            </div>  
        </div>
    </div>
</div>


{% endblock %}